body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(95, 233, 164);

}

.container {
    max-width: 650px;
    height: 370px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.container p {
    margin: 5px 5px 10px 10px;
    font-size: 20px;
    text-align: left;
}
